* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f8fc;
}

header{
    background-color: #3f51b5;
    color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

    & input {
        width: 40%;
        border-radius: 8px;
    }
}

main {
    color: #333;
    background-color: white;
    width: 75%;
    margin: 30px auto;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.203);
}

#new-task {
    margin: 20px 0px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.203);
    padding: 20px;
    border-radius: 15px;

    & form {
        display: flex;
        justify-content: center;
        gap: 15px;

        & input {
            border-radius: 5px;
        }
    }

}

input {
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
    padding: 5px 10px;
}

#add-task, #close-btn {
    background-color: #4caf50;
    color: white;
    padding-inline: 25px;

    &:hover {
        background-color: #388e3c;
    }
}

h2 {
    color: #3f51b5;
    margin-bottom: 20px;
    margin-top: 30px;
}

article {
    border-bottom: 1px solid #ddd;
    position: relative;

    & h3 {
        letter-spacing: 1px;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    & .content {
        padding-left: 10px;
        /* font-size: 0.9em; */
        padding-bottom: 10px;
        & span {
            font-weight: bold;
        }
    }

    & button {
        position: absolute;
        padding: 5px 10px;
        border: none;
        outline: none;
        border-radius: 8px;
        right: 10px;
        bottom: 10px;
    } 

    
}

.edit-btn {
    background-color: #ffca28;
    color: #333;
    right: 80px;
    bottom: 10px;

    &:hover {
        background-color: #fbc02d;
    }
}

.delete-btn {
    background-color: #f44336;
    color: white;

    &:hover {
        background-color: #d32f2f;
    }
}

.content .time {
    color: #0a0000;
}

#edit-modal, #alert-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 25px;
    border-radius: 15px;

    & form > div {
        margin-bottom: 10px;

        & input {
            border-radius: 5px;
            width: 100%;
            margin: 5px;
        }
    }

    & input[type="submit"] {
        width: 40%;
        border-radius: 5px;
        padding: 8px;
        background-color: #388e3c;
        color: white; 
    }

    & input[type="reset"] {
        width: 40%;
        border-radius: 5px;
        padding: 8px;
        background-color: red;
        color: white;
    }
}

#alert-modal{
    width: 400px;
    text-align: center;
    border: none;

    & button {
        background-color: #388e3c;
        padding: 10px 25px;
        margin-top: 20px;
        border: none;
        border-radius: 8px;
        color: white;
    }
}